<%= simple_form_for(@question) do |f| %>
  <%= f.input :question %>
  

  <div class='field'>
    <%= f.label :tag_list, 'Tags (separated by commas)' %><br/>
    <%= f.text_field :tag_list, class: "tags" %>
</div>

<%= f.button :submit, btn_text, class: "float-right" %>
<% end %>
