<div class="card">
  <div class="card-header">
    <%= @question.question%>
    <% if user_signed_in? && @question.user == current_user %>
      <%= link_to "Edit question", edit_question_path(@question), class: "btn btn-primary float-right" %>    
      <%= link_to "Delete question", question_path(@question),
        method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: "btn btn-primary float-right" %>
      <% end %>
      <p>Tags: <%= raw(@question.tag_list.map { |t| link_to t, tag_path(t), class: "btn btn-primary btn-sm" }.join(' ')) %></p>  

  </div>

  <% if @answers.any? %>
    <% @answers.each do |answer|%>
      <div class="card-body">
        <%= answer.answer %>
        <br>
        Answered by: <%= answer.user.email %>
        <hr>
      </div>
    <% end %>
  <% else %>
    no answers
  <% end %>
</div>

<div class= "my-answer">
  <%= simple_form_for [@question, @answer], class: "form-group" do |f| %>
    <%= f.input :answer, class: "form-control" %>
    <%= f.button :submit, "Post your answer", class: "float-right" %>
  <% end %>  
</div>
